# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/payments

# API gateway JWT secret
PRUEBA_TECNICA_SECRET_KEY=PRUEBA_TECNICA_SECRET_KEY

# Ports
PAYMENT_SERVICE_PORT=3001
API_GATEWAY_PORT=3000
NOTIFICATION_SERVICE_PORT=3002
